
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<link href="img/favicon_hilton.ico" rel="shortcut icon" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
<!--	<link rel="stylesheet" type="text/css" href="css/slick.css">-->
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<title>Millennium Hilton</title>
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/vivus.min.js"></script>
	<script src="js/jquery.ripples-min.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
<div class="wrap">
	<div class="main">
		<main>
			<!--	rooms	-->
			<section id="rooms">
				<h3 class="title blind">ROOMS</h3>
				<div class="roomsWrap">
					<div class="guestRoom">
						<b class="pc">GUEST ROOM</b>
						<div class="guestRoom_on">
							<div class="borderBox">
								<span class="outline_top"></span>
								<span class="outline_right"></span>
								<span class="outline_bottom"></span>
								<span class="outline_left"></span>
								<div class="textWrap">
									<b>GUEST ROOM</b>
									<p>Whether it’s after a full day of meetings 
										or a full day of sightseeing, 
										you’ll love relaxing in the comfortable 
										lounging chair, soaking in the views
										from the windows.
									</p>
									<a href="#" class="opacityBox">VIEW ALL GUEST ROOMS</a>
								</div>
							</div>
						</div>
					</div>
					<div class="executiveRoom">
						<b class="pc">EXECUTIVE ROOM</b>
						<div class="executiveRoom_on">
							<div class="borderBox">
								<span class="outline_top"></span>
								<span class="outline_right"></span>
								<span class="outline_bottom"></span>
								<span class="outline_left"></span>
								<div class="textWrap">
									<b>EXECUTIVE ROOM</b>
									<p>Our executive rooms are ideal for business 
										professionals and travelers who prefer an 
										upgraded experience, including access 
										to the Executive Lounge.</p>
									<a href="#" class="opacityBox">VIEW ALL EXECUTIVE ROOMS</a>
								</div>
							</div>
						</div>
					</div>
					<div class="suite">
						<b class="pc">SUITE</b>
						<div class="suite_on">
							<div class="borderBox">
								<span class="outline_top"></span>
								<span class="outline_right"></span>
								<span class="outline_bottom"></span>
								<span class="outline_left"></span>
								<div class="textWrap">
									<b>SUITE</b>
									<p>Suites offer opulent facilities and premium 
										services for a truly luxurious hotel experience. 
										Enjoy the spacious living room area, 
										premium bathroom amenities, and other 
										thoughtful comforts that make your stay a pleasure.</p>
									<a href="#" class="opacityBox">VIEW ALL SUITES</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--	//rooms	-->
		</main>
	</div>
	

</div>
</body>
</html>