<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Design implementation</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<main>
  <div class="hero__bg">
    <div class="layer layer-displayed" data-scene="1" style="background-image: url('https://images.unsplash.com/photo-1511818966892-d7d671e672a2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ad45c001856de3cb79aaab0f53c4f456&auto=format&fit=crop&w=1351&q=80')"></div>
    <div class="layer" data-scene="2" style="background-image: url('https://images.unsplash.com/photo-1467154243382-ebe2c7d14fef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1306&q=80')"></div>
    <div class="layer" data-scene="3" style="background-image: url('https://images.unsplash.com/photo-1457274858420-ea606e99cc5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80')"></div>
  </div>
  <span>
    <span class="displayed">B</span>
    <span>B</span>
  </span>
  <span>
    <span class="displayed">H</span>
    <span>H</span>
  </span>
  <span>
    <span class="displayed">A</span>
    <span>A</span>
  </span>
  <span>
    <span class="displayed">A</span>
    <span>A</span>
  </span>
  <span>
    <span class="displayed">U</span>
    <span>U</span>
  </span>
  <span>
    <span class="displayed">U</span>
    <span>U</span>
  </span>
  <span>
    <span class="displayed">S</span>
    <span>S</span>
  </span>
  <div class="hero__image">
    <div class="layer__container">
      <div class="layer layer-displayed" data-scene="1" style="background-image: url('https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')"></div>
    <div class="layer" data-scene="2" style="background-image: url('https://images.unsplash.com/photo-1515486191131-efd6be9f711f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')"></div>
    <div class="layer" data-scene="3" style="background-image: url('https://images.unsplash.com/photo-1495078065017-564723e7e3e7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=09093dcdf66dbcd2397b9dc19384a899&auto=format&fit=crop&w=1300&q=80')"></div>
    </div>
    <div class="hero__number">
      <span>
      01
      </span>
    </div>
  </div>
  <div class="footer">
    <div>
      <span>Location</span>
      <span>
        <span class="displayed">Tokyon</span>
        <span>Los Angeles</span>
        <span>Huston</span>
        <span>Tokyon</span>
      </span>
    </div>
    <div>
      <span>Photographer</span>
      <span>
        <span class="displayed">Nick Hunger</span>
        <span>Hugh Jackman</span>
        <span>Dylan Smith</span>
        <span>Tokyon</span>
      </span>
    </div>
    <div>
      <span>Camera</span>
      <span>
        <span class="displayed">Cannon 16783</span>
        <span>Nikon XL</span>
        <span>Cannon 32C</span>
        <span>Tokyon</span>
      </span>
    </div>
    <div>
      <span>
      Vivamus facilisis sodales faucibus. Pellentesque eleifend lorem ac libero pharetra rhoncus id sed risus. Etiam ac libero dolor.
      </span>
    </div>
    <div class="controller" onclick="switchLayer()">
      <i class="fas fa-long-arrow-alt-right"></i>
    </div>
  </div>
</main>
<!-- partial -->
  <script  src="./script.js"></script>

</body>
</html>
