<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Editorial Slide Layout 1</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- Rotate Device -->
		<div class="rotate-device-wrapper">
			<p>Please</p>
			<p>Rotate Your Device</p>
			<div class="rotate_icon">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 273.13 272.53">
				  <path d="M23.4 73.68C45 36.31 84 10.31 127 7.31c45-3 88 16 115 54 21 31 29 67 21.2 102.41M7.82 151.43A129.86 129.86 0 0 1 7 136.81M19.35 192.07a129.21 129.21 0 0 1-6.44-16.47M42 225.31a130.4 130.4 0 0 1-14-17.79M78.3 252.49a128.31 128.31 0 0 1-18.52-11.38M122.61 265.53a129.41 129.41 0 0 1-20.38-3.86M177.55 259.49a130 130 0 0 1-16.82 4.42M224.71 231.42a129.58 129.58 0 0 1-16.83 13.25M255 188.61a129.88 129.88 0 0 1-12.81 22.76" fill="none" stroke="#14051f" stroke-linecap="round" stroke-miterlimit="10" stroke-width="14"/>
				  <path fill="none" stroke="#14051f" stroke-linecap="round" stroke-linejoin="round" stroke-width="14" d="M88 75.31H22v-66"/>
				</svg>
			</div>
		</div>
		
    	<!-- Hamburger Icon -->
		<div id="sliiider-toggle" class="fan-rfa--hamburger-icon">
			<svg data-name="hamburger Menu Icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 321.5">
				<rect width="448" height="65" rx="32" ry="32"/>
				<rect y="127.5" width="448" height="65" rx="32" ry="32"/>
				<rect y="256.5" width="448" height="65" rx="32" ry="32"/>
			</svg>
		</div>
		
		<!-- Drop down Menu -->
		<div class="sliding-menu">
			<!-- Close drop down menu -->
			<div class="drop-down-menu--close slider-exit">
				<svg data-name="Close Icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 336.16 336.16">
					<rect x="-55.92" y="135.58" width="448" height="65" rx="32" ry="32" transform="rotate(-45 168.08 168.079)"/>
					<rect x="-55.92" y="135.58" width="448" height="65" rx="32" ry="32" transform="rotate(45 168.079 168.08)"/>
				</svg>
			</div>
			
			<h3>Chapters</h3>
			<a href="index.html#blackPanther"><p>Black Panther</p></a>
			<a href="index.html#storm"><p>Wakanda</p></a>
			<a href="index.html#lukeCage"><p>T’Challa’s Look</p></a>
			<a href="index.html#bishop"><p>Wakandan Wardrobe</p></a>
			<a href="index.html#blade"><p>Beyond Black Panther</p></a>
			<div class="social-grp">
				<a href="#">
					<svg id="" class="rfa-fb-icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36.71 36.71">
					  <title>FB</title>
					  <path id="Facebook" d="M36.71,34.68a2,2,0,0,1-2,2H25.33V22.49H30.1L30.82,17H25.33V13.42c0-1.61.45-2.7,2.75-2.7H31v-5a41.29,41.29,0,0,0-4.28-.22c-4.23,0-7.12,2.59-7.12,7.33V17H14.82v5.54h4.79V36.71H2a2,2,0,0,1-2-2V2A2,2,0,0,1,2,0H34.69a2,2,0,0,1,2,2Z" fill="#ffffff"/>
					</svg>
				</a>
				
				<a href="#">
					<svg id="" class="rfa-tw-icon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.45 31.21">
					  <title>TW</title>
					  <path id="Twitter" d="M36.42.58a15.43,15.43,0,0,1-4.88,1.91A7.59,7.59,0,0,0,25.93,0a7.78,7.78,0,0,0-7.68,7.88,7.5,7.5,0,0,0,.2,1.79A21.63,21.63,0,0,1,2.61,1.44a8,8,0,0,0-1,4A7.9,7.9,0,0,0,5,12,7.67,7.67,0,0,1,1.5,11v.1A7.83,7.83,0,0,0,7.67,18.8a7.09,7.09,0,0,1-2,.28,7.67,7.67,0,0,1-1.45-.14,7.71,7.71,0,0,0,7.18,5.47,15.21,15.21,0,0,1-9.55,3.37A13.84,13.84,0,0,1,0,27.67a21.32,21.32,0,0,0,11.78,3.54c14.13,0,21.86-12,21.86-22.42,0-.34,0-.68,0-1a15.51,15.51,0,0,0,3.83-4.08A14.52,14.52,0,0,1,33,4.93,7.8,7.8,0,0,0,36.42.58Z" fill="#ffffff"/>
					</svg>
				</a>
			</div>
		</div>
		
       <!-- Slider -->
        <div class="swiper-container rfa-slide-container rfa-slide-container--chapter-select">

			<!-- Slide Content -->
			<div class="swiper-wrapper rfa-chap-sect-wrapper">
				<!-- Slides -->
				<div id="rfaCover" class="swiper-slide slide__chap0" data-hash="">
					<div class="rfa-sl-container-start">
						<h1>The World of Black Panther</h1>
						<p class="subText">Tribalism Meets Technology</p>
						<p class="author">Written by  Karla Clark <br>and Lawrence Yee</p>

						<div class="hp-cta-wrapper">
							<a data-menuanchor="firstPage" class="chap-btn--a" href="index.html#blackPanther">
								<button class="rfa-hp-btn" data-text="">
									<span>Start Reading </span>
									<div class="cta-arrow">
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 627.2 227.4" xml:space="preserve" enable-background="new 0 0 627.2 227.4"><style type="text/css">
											.st0{fill:#f5f5f5;}
										</style><line class="st0" x1="14.1" y1="113.7" x2="613.2" y2="113.7"/><path d="M613.2 127.8H14.1c-7.8 0-14.1-6.3-14.1-14.1s6.3-14.1 14.1-14.1h599.1c7.8 0 14.1 6.3 14.1 14.1S620.9 127.8 613.2 127.8z"/><line class="st0" x1="513.6" y1="14.1" x2="613.2" y2="113.7"/><path d="M613.2 127.7c-3.6 0-7.2-1.4-9.9-4.1L503.6 24c-5.5-5.5-5.5-14.4 0-19.9 5.5-5.5 14.4-5.5 19.9 0l99.6 99.6c5.5 5.5 5.5 14.4 0 19.9C620.4 126.4 616.8 127.7 613.2 127.7z"/><line class="st0" x1="613.2" y1="113.7" x2="513.6" y2="213.3"/><path d="M513.6 227.4c-3.6 0-7.2-1.4-9.9-4.1 -5.5-5.5-5.5-14.4 0-19.9l99.6-99.6c5.5-5.5 14.4-5.5 19.9 0 5.5 5.5 5.5 14.4 0 19.9l-99.6 99.6C520.8 226 517.2 227.4 513.6 227.4z"/></svg>
									</div>
								</button>
							</a>
						</div>
						<div class="rfa-sl-container-start--bkg-img"></div>
					</div>
				</div>
				
				<div class="swiper-slide rfa-chap-sect-slide slide__chap1" data-hash="blackPanther">
					<div class="slide-cover"></div>
					<h3>Black Panther</h3>
					
					<a class="chap-btn--a" href="chapter1.html">
						<button class="button button--winona button--border-thin button--round-s" data-text="Read Chapter">
							<span>Read Chapter</span>
						</button>
					</a>
				</div>
				<div class="swiper-slide rfa-chap-sect-slide slide__chap2" data-hash="storm">
					<div class="slide-cover"></div>
					<h3>WAKANDA</h3>
					
					<a class="chap-btn--a" href="chapter1.html">
						<button class="button button--winona button--border-thin button--round-s" data-text="Read Chapter">
							<span>Read Chapter</span>
						</button>
					</a>
				</div>
				<div class="swiper-slide rfa-chap-sect-slide slide__chap3" data-hash="lukeCage">
					<div class="slide-cover"></div>
					<h3>HOW TRADITION AND FUTURISM INSPIRE T’CHALLA’S LOOK</h3>
					
					<a class="chap-btn--a" href="chapter1.html">
						<button class="button button--winona button--border-thin button--round-s" data-text="Read Chapter">
							<span>Read Chapter</span>
						</button>
					</a>
				</div>
				<div class="swiper-slide rfa-chap-sect-slide slide__chap4" data-hash="bishop">
					<div class="slide-cover"></div>
					<h3>WHAT INSPIRES THE WAKANDAN WARDROBE</h3>
					
					<a class="chap-btn--a" href="chapter1.html">
						<button class="button button--winona button--border-thin button--round-s" data-text="Read Chapter">
							<span>Read Chapter</span>
						</button>
					</a>
				</div>
				<div class="swiper-slide rfa-chap-sect-slide slide__chap5" data-hash="blade">
					<div class="slide-cover"></div>
					<h3>AFROCENTRIC AESTHETICS BEYOND BLACK PANTHER</h3>
					
					<a class="chap-btn--a" href="chapter1.html">
						<button class="button button--winona button--border-thin button--round-s" data-text="Read Chapter">
							<span>Read Chapter</span>
						</button>
					</a>
				</div>
			</div>

			<!-- If we need pagination -->
			<div id="rfaPagePagination" class="swiper-pagination hide-swiper-pagination"></div>
		</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/614007/sliiide.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js'></script><script  src="./script.js"></script>

</body>
</html>
