body,ul,li{padding: 0; margin: 0; list-style: none;}
.project_content_wrap{    position: absolute;
    top: 30px;
    left: 30px;
    width: 40%;
    height: calc(100% - 60px);
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.content_img {
    background-size: cover;
    background-position:center;
    position: absolute;
    right: 10%;
    top: 50%;
    height: 70%;
    transform: translate(0, -50%);
    max-width: 900px;
    width: 45%;
    min-width: 250px;
    box-shadow: 30px 40px 40px rgb(0 0 0 / 60%);
    background-image:url("https://ejungle.co.kr/LocalUser/jungleseoul/WPPP_seoul_02/Sonhyesu/portfolio/img/bg-ediya.png") ;
}

.content_detail{
    position: absolute;
    bottom: 100px;
    left: 35%;
    padding: 0 10px;
    opacity: 1;
    text-align: left;
}
.content_detail h1{ margin: 0; font-size: 70px; text-indent: -5px;}
.content_detail_item{padding: 5px 0;}
.content_detail_list{margin: 10px 0;}
.content_detail_notice{font-size: 11px;}

.content_title{    position: absolute;top: 30px;left: 50%;padding-right: 43px;font-size: 17px; margin: 0;}
.content_title::after{    content: '';position: absolute;top: 50%;right: 0;width: 40px;height: 1px;background: #222;}
.content_name{position: absolute;bottom: 80%;left: 5%;padding-right: 43px;font-size: 24px; margin: 0;}
@media screen and (max-width: 960px){
    .content_name{bottom:20px; left: 70%; }
    .content_title{
        position: absolute;
        top: 10px;
        left: auto;
        right: 30px;
    }
    

    .content_detail_notice{display: none;}
    .content_detail{
        position: static;
        padding: 30px;
    }
    .content_detail ul {display: none;}
    .project_content_wrap {
        top: auto;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 80%;
        height: 40%;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }
    .content_img  {
        right: auto;
        height: 40%;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
    }
}

