header{display: flex;position: fixed;top: 0;  width: 100%; background-color: white; transition: 0.3s;align-items: center; padding: 5px 0;}
*{margin: 0; padding: 0;}
section{display: flex;justify-content: center;align-items: center;}
h1{font-size: 5rem;}
.nav_list{display: flex; justify-content: center; text-align: center;}
.nav_item{padding: 20px 40px; cursor: pointer; transition: 0.3s; }
.nav_item:hover,
.nav_item.on {color:red}

#header.active .nav_item{padding: 10px 40px;}

.mb_nav_btn{position: relative; width: 22px; height: 22px; cursor: pointer; display: none;}
.mb_nav_btn span {position: absolute; left: 0; width: 100%; height: 4px; background-color: #000; border-radius: 4px; transition: 0.3s;}
.mb_nav_btn span:nth-child(1){top: 0;}
.mb_nav_btn span:nth-child(2){top: 10px;}
.mb_nav_btn span:nth-child(3){bottom:0;}
.mb_nav_btn.active span:nth-child(1){transform: translateY(9px) rotate(-45deg);}
.mb_nav_btn.active span:nth-child(2){opacity: 0;}
.mb_nav_btn.active span:nth-child(3){transform: translateY(-9px) rotate(45deg);}
.mb_nav_wrap{padding:10px; position: absolute; right: 10px;top:5px; transition: 0.3s; }
.nav_wrap{width: 100%;}
.logo{height: 40px; width: 40px; background-color: red;}
/* 모바일  메뉴 */


@media(max-width:800px){
    
    #header{flex-direction: column;}
    #header.active{ padding: 0;}
    #header.active .nav_item{padding: 10px 0;}
    #header.active .mb_nav_wrap{top:0}

    .nav_wrap{width: 100%;}
    .nav_list{display: none;}
    .nav_list.active{display: flex;flex-direction: column;align-items: center;}
    .nav_item{padding: 10px 0; width: 100%;}
    
    .mb_nav_btn{display: block;}
    .logo{margin:10px;}
    .logo_box{width: 100%;}
}

